Repository godot-jolt/godot-jolt, pull requests merged in 2024-11, with the labels that each got.

#1008 Updated Jolt to a72422a24a
  cmake/GodotJoltExternalJolt.cmake
Labels: enhancement, topic:runtime

#1015 Silenced CMake deprecation errors when building for Android
  cmake/toolchains/android/Common.cmake
Labels: bug, topic:ci, topic:builds

#1013 Fixed override of the inertia diagonal
  src/objects/jolt_body_impl_3d.cpp
Labels: bug, topic:runtime

#1019 Updated Jolt to 7e59df4e8f
  cmake/GodotJoltExternalJolt.cmake
Labels: enhancement, topic:runtime

#1017 Fixed issues related to enhanced internal edge removal
  CHANGELOG.md
  docs/settings.md
  src/objects/jolt_body_impl_3d.cpp
  src/servers/jolt_project_settings.cpp
  src/servers/jolt_project_settings.hpp
  src/shapes/jolt_custom_ray_shape.cpp
  src/spaces/jolt_physics_direct_space_state_3d.cpp
  src/spaces/jolt_physics_direct_space_state_3d.hpp
  src/spaces/jolt_query_collectors.hpp
Labels: bug, topic:usage, topic:runtime, breaking

#1021 Changed memory ordering for atomics
  src/spaces/jolt_contact_listener_3d.cpp
  src/spaces/jolt_contact_listener_3d.hpp
  src/spaces/jolt_job_system.cpp
Labels: topic:runtime, refactoring

#1020 Set better defaults for joint motor/spring limits
  CHANGELOG.md
  src/joints/jolt_cone_twist_joint_impl_3d.hpp
  src/joints/jolt_generic_6dof_joint_impl_3d.hpp
  src/joints/jolt_hinge_joint_impl_3d.hpp
  src/joints/jolt_slider_joint_impl_3d.hpp
Labels: bug, topic:runtime
