Repository godot-jolt/godot-jolt, pull requests merged in 2024-04, with the labels that each got.

#823 Updated Jolt to d1936c8506
  cmake/GodotJoltExternalJolt.cmake
Labels: enhancement, topic:runtime

#824 Fixed some issues with shapeless bodies
  CHANGELOG.md
  src/objects/jolt_shaped_object_impl_3d.cpp
  src/shapes/jolt_custom_empty_shape.cpp
  src/shapes/jolt_custom_empty_shape.hpp
Labels: bug, topic:runtime, breaking

#828 Fixed damping being inconsistent at different update frequencies
  CHANGELOG.md
  src/objects/jolt_body_impl_3d.cpp
  src/objects/jolt_physics_direct_body_state_3d.cpp
Labels: bug, topic:runtime

#829 Fixed broken gravity integration
  src/objects/jolt_body_impl_3d.cpp
Labels: bug, topic:runtime, regression

#830 Changed the way soft body edges are created
  src/containers/symmetric_bit_table.hpp
  src/objects/jolt_soft_body_impl_3d.cpp
  src/precompiled.hpp
Labels: enhancement, topic:runtime

#831 Updated Jolt to cf22ca9e16
  cmake/GodotJoltExternalJolt.cmake
  src/spaces/jolt_debug_geometry_3d.cpp
Labels: enhancement, topic:runtime

#834 Added broad-phase optimization to physics queries
  CHANGELOG.md
  src/objects/jolt_area_impl_3d.cpp
  src/objects/jolt_body_impl_3d.cpp
  src/objects/jolt_object_impl_3d.cpp
  src/objects/jolt_soft_body_impl_3d.cpp
  src/servers/jolt_physics_server_3d.cpp
  src/servers/jolt_physics_server_3d.hpp
  src/spaces/jolt_physics_direct_space_state_3d.cpp
  src/spaces/jolt_space_3d.cpp
  src/spaces/jolt_space_3d.hpp
Labels: bug, topic:runtime, refactoring

#835 Updated Jolt to cf22ca9e16
  cmake/GodotJoltExternalJolt.cmake
  src/spaces/jolt_contact_listener_3d.cpp
Labels: enhancement, topic:runtime
