Repository godot-jolt/godot-jolt, pull requests merged in 2024-03, with the labels that each got.

#799 Fixed some issues with inertia
  CHANGELOG.md
  src/objects/jolt_body_impl_3d.cpp
Labels: bug, topic:runtime

#800 Updated Jolt to 91272baecb
  cmake/GodotJoltExternalJolt.cmake
  src/objects/jolt_soft_body_impl_3d.cpp
Labels: enhancement, topic:runtime

#805 Updated Jolt to e60de1aa54
  cmake/GodotJoltExternalJolt.cmake
  src/objects/jolt_soft_body_impl_3d.cpp
Labels: enhancement, topic:runtime

#808 Fixed quaternions not being normalized on rare occasions
  src/misc/math.hpp
  src/misc/type_conversions.hpp
Labels: bug, topic:runtime

#809 Added error-handling for zero-scaled transforms
  CHANGELOG.md
  src/objects/jolt_body_impl_3d.cpp
  src/objects/jolt_shaped_object_impl_3d.cpp
  src/spaces/jolt_physics_direct_space_state_3d.cpp
Labels: enhancement, topic:runtime

#810 Added error-handling for invalid scaling of shapes/bodies
  CHANGELOG.md
  src/objects/jolt_shaped_object_impl_3d.cpp
  src/objects/jolt_shaped_object_impl_3d.hpp
  src/shapes/jolt_custom_empty_shape.hpp
  src/shapes/jolt_shape_impl_3d.cpp
  src/shapes/jolt_shape_impl_3d.hpp
  src/shapes/jolt_shape_impl_3d.inl
  src/spaces/jolt_physics_direct_space_state_3d.cpp
Labels: enhancement, topic:runtime

#813 Updated toolchains
  .clang-format
  .clang-tidy
  .github/actions/setup-linux/action.yml
  .github/actions/setup-macos/action.yml
  docs/building.md
  docs/hacking.md
  scripts/ci_setup_linux.ps1
Labels: enhancement, topic:ci, topic:builds, topic:formatting

#817 Fixed `body_get_direct_state` returning non-null with no space
  src/servers/jolt_physics_server_3d.cpp
Labels: bug, topic:runtime, breaking
